### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
spring-boot-starter/
spring-boot-devtools/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/
*.sublime-workspace

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Application Specific ###
application-local.properties
application-dev.properties
application-prod.properties
settings.xml

### H2 Database ###
*.db 